.navbar {
    background: #2AABE2;
    height: 65px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h1 {
    color: #EEE;
    font-family: Roboto;
    font-size: 3rem;
}

.movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #111;
    padding: 10px;
}

.movie-card {
    height: auto;
    width: 342px;
    margin: 5px;
}

.movie-card img {
    margin: 0px;
    padding: 0px;
}

.card-info {
    padding: 5px;
    background: #282828;
}

a {
    color: #EEE;
    text-decoration: none;
}

.movie-card h3 {
    font-family: Roboto;
}

.movie-card p {
    font-family: Montserrat;
}

.grey-font {
    color: #999;
}

.movie-card:hover {
    transition: all ease 0.4s;
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.7);
}